<!DOCTYPE html [


<!ENTITY copy "&#169;">

]>

<html>

<head>

<title>Voucher Details</title>

<style>

.mainleft{
/* margin-left:80px; */
width:50%;
float:left;
}

.mainright{

text-align: right;

padding-right: 100px;

}

#mainname{
font-size: 22px;
font-weight: Bold;
margin-top:-15px;
position: relative;
}

.first{

width:50%;

float:left;

clear:left;

}

.second{

width:50%;

float:right;

clear:right;

}

#topref1{

margin-left:100px;

font-weight: 'Semi-Bold';

font-size: 14px;

}

#topref{


float:right;

margin-right: 5px;

font-weight: 'Semi-Bold';

font-size: 14px;

}

#number1{

border-radius: 15px;

border: 1px solid skyblue;

padding: 5px 15px;

margin-left: 5px;

}

.numclr{

color: #4C80D6;

font-size: 16px;

font-weight: 'Semi-Bold';

}

#number2{


border-radius: 15px;

border: 1px solid skyblue;

padding: 5px 15px;

margin-top: -5px;

float:right;

margin-right: 100px;

}

#rcorners2{

border-radius: 10px;

border: 2px solid;

padding:0px;

width: 50%;

height:10%;

margin-top: 35px;

margin-left: 0px;

border-bottom-style:double;

border-right-style:double;

}

#one{



float: left;

}

#two{

float: left;

}

#three{

float: left;

}

.info{

padding-right: 100px;

}

#armlef{

width:55%;

float:left;

margin-left: 80px;

}

#armrig{

text-align: right;

padding-right: 100px;



}



.leftlist1{
font-weight: Bold;
font-size: 20px;
text-align: left;
}

.leftlist11{

font-weight: Bold;

font-size: 18px;

text-align: left;

}

.bookinglist{

margin-left: 40px;
text-align: left;

font-weight: 'Semi-Bold';

font-size: 16px;

}

.detail{

font-size: 15px;

font-weight: Regular;

color:#333333;

}

.mobile{

margin: 10px;

font-size: 14px;

}

#daynumber{

margin-left: 70px;

margin-top: 20px;

padding-left: 35px;


font-weight: 'Semi-Bold';

font-size: 12px;

}

.leftlist1time{

margin-left: 10px;

}

.leftlist2{

margin-left: 5px;

}

.rightlist1{
width:200px;
margin:0px;

text-align: left;

font-size: 18px;

font-weight: Bold;

}

.rightlist11{
width:200px;
margin:0px;

text-align: left;

font-size: 20px;

font-weight: Bold;

}

.detail1{

font-size: 16px;

color:#333333;

text-align: left;

width: 184px;

padding-left: 0px;

}

.detail11{

font-size: 15px;

color:#333333;

text-align: left;

width: 184px;

padding-left: 0px;

}

#price{

font-weight: Bold;

font-size: 16px;


}

#armlef1{

width:100%;

float:left;


padding: 10px 0px 10px 100px;;

}

#roomlist{
text-align: left;
font-size: 18px;
font-weight: Bold;
/* margin-left: 80px; */
}

.paylist2{

font-size: 16px;

}

#tableleft {

border-collapse: collapse;

width: 50%;

margin-left: 100px;

float:left;

}

#tableright{

border-collapse: collapse;

width: 50%;

padding-right: 100px;

text-align:right;

}



.tabled, .tableh {

text-align: left;

padding: 8px 8px 8px 0px;

width:20%;

font-size: 14px;

font-weight: Regular;

color:#404040;

margin: 0px;

}



.paylist1{
font-size: 17px;
}

.wordings{

font-size: 16px;

font-weight: Semi-Bold;

margin-left: 100px;

padding-left: 20px;

}

#footer{

float:right;

}

#footerrights{

font-size: 14px;

font-weight: Semi-Bold;

}



#fullWidth{

width:100%;

height:5%;



}

p {

margin: 4px 0px 0px 0px;

}

.vl {

border: 1px solid;

height: 10%;

position: absolute;

margin-left: 8%;

padding-top: -1px;

padding-bottom: -4px;



}

.vl1 {

border: 1px solid;

height: 10%;

position: absolute;

margin-left: 21%;

padding-top: -1px;

padding-bottom: -4px;


}

.vl2 {

border: 1px solid;

height: 10%;

position: absolute;

margin-left: 29%;

padding-top: -1px;

padding-bottom: -4px;



}

.vl3 {

border: 1px solid;

height: 10%;

position: absolute;

margin-left: 42%;

padding-top: -1px;

padding-bottom: -4px;

}

.vl4{
border-left: 2px solid;
height: 138px;
text-align: right;
padding: 2px;
margin-left:430px;
/* padding-right: 100px; */
}

.vl5{
border-left: 2px solid;
height: 385px;
text-align: right;
padding: 2px;
margin-left:430px;
/* padding-right: 100px; */
}

.pay{

/* margin-left: 80px; */

font-size: 18px;

}

.paydetails{

/* margin-left: 80px; */

}

.description{
width:430px;
padding-left: 0px;
list-style-type:none;
margin-top: 15px;
font-size: 14px;
}

.dslist{
padding-left: 8px;
text-align: absolute;
}

.description1{
width:430px;
padding-left:0px;
list-style-type:none;
margin-top: 5px;

}

.descriptionleft{
padding-left:25px;
margin: 0px;
list-style-type:none;
}

.bookingleft{

margin: 0px;

padding-left:0px;

list-style-type:none;

}

.policy{
/* width:58%; */
float: left;
}

.contact{
width: auto;
text-align: left;
padding:2px;

}

.contactnumber{

text-align: left;

padding:2px;

margin-left:25px;

font-size: 17px;

}

.reference{

text-align: left;
margin-left: 40px;
font-size: 18px;

font-weight: Bold;

}

.col1{

margin-left: 20px;

padding-top: 18px;

clear:padding-top;

}

table {

border-collapse: collapse;


}

th {

display: table-cell;

text-align: left;

padding-left: 20px;

}

.check{

margin-top: 0px;

font-size: 16px;

padding-left: 20px;

}

.room{

border-top-left-radius: 25px;

margin:0px;

white-space: nowrap;

font-size: 17px;

}

.room1{

border-top-left-radius: 25px;

margin:0px;

white-space: nowrap;

padding-left: 10px;

font-size: 17px;

}

.room2{

border-top-left-radius: 25px;

margin:0px;

white-space: nowrap;

font-size: 17px;

padding-right: 20px;

}



.night{

padding-left: -10px;

white-space: nowrap;

font-size: 16px;

padding-left: 10px;

}

.race{

width:100%;

margin-left: 20px;

padding-left: 10px;

}

.race1{

width:100%;

margin-left: 5%;

/* padding-left: 10px; */

}

.race2{
width:100%;
margin-left:-8%;
}

.mainbox{
margin-left:48px;
border:1px solid;
width:570px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
padding-left: 20px;
}

.master{
border: 0.5px solid;
height:73px;
position: absolute;
margin-left: 145px;
padding-top: -1px;
padding-bottom: -4px;
}

.master1{

border: 0.5px solid;

height:73px;

position: absolute;

margin-left: 320px;

padding-top: -1px;

padding-bottom: -4px;

}

.master2{

border: 0.5px solid;

height: 73px;

position: absolute;

margin-left: 403px;

padding-top: -1px;

padding-bottom: -4px;

}

.master3{

border: 0.5px solid;

height: 73px;

position: absolute;

margin-left:563px;

padding-top: -1px;

padding-bottom: -4px;

}

.rep{

white-space: nowrap;

font-size: 22px;

}

.image {
width: 50%;
height: 4%;
padding-left: 10px;
text-align: right;
}

.image1 {

width: 60%;

height: 8%;


text-align: right;

}

.imagetick {

width: 3%;

height: 4%;


}

.adjustment{

width:6.5%;


}
.imagephone {

width: 5%;

height: 4%;

text-align: left;

margin-left: -5px;


}

.mobilenumber{

font-weight: Bold;

font-size: 20px;

text-align: left;



}

.mess{
/* margin-bottom: 5px; */
font-size: 14px;
top:-8px;

position: relative;

}

.imagehotel{
width: 5%;
height: 4%;
}

.tname{
font-size: 16px;
}

.ttname{

font-size: 16px;

}

.day{
font-size: 18px;
padding-left: 15px;
}

.time{

font-size: 18px;

}

.mess1{

font-size: 14px;

}

.nap{

/* padding-right: 20px; */

}

.imageemail{

width: 5%;

height: 5%;

float:left;

text-align: left;

margin: 0px;

}

.firsthr{

border:2px solid;

}

.fontProperty{
   font-family: Calibri;
}
.fontSizeProperty{
  font-size: 14px;
}
</style>

</head>

<body>
<div class="fontProperty">
<div>
<div class="mainleft" style="margin-top:28px">
<p id="mainname"> <img style="vertical-align:middle" class="imagehotel" src="https://4ctnedevblob.blob.core.windows.net/assets/HOTEL.png" />
Hotel Voucher</p>
</div>
<div class="mainright">
<img class="imagehotel" src="https://4ctnedevblob.blob.core.windows.net/assets/WAY2GOLOGO.jpg" width="175px" height="45px" alt="no image" />
<br/>
</div>

<hr class="firsthr"/>

<div>
    <div style="float:left;line-height:1.4">
      <b class="leftlist1" style="line-height:1.6">$voucher.getString("hotelName")</b><br/>
      #foreach( $address in $voucher.getJSONArray("address") )
			<span>$address</span><br/>								
		#end 
      <span>
        <ul style="list-style-type:none;margin:0px;padding-left:0px">
         <li class="contact">
         <img style="width:4%;height:4%;vertical-align:middle" src="https://4ctnedevblob.blob.core.windows.net/assets/PHONE.png"/>
         <span class="mess1" style="line-height:1.4;padding-left:5px;font-weight:bold;vertical-align:middle">$voucher.getString("hotelPhoneNo")</span></li>
         </ul>
      </span>
    </div>
    <div style="float:right;line-height:1.4">
       <b class="tname">Traveller Name</b><br/>
      #if($voucher.has("passengerDetails") && $voucher.getJSONArray("passengerDetails").length() > 0)
			#foreach( $user in $voucher.getJSONArray("passengerDetails") )
				<span>$user</span><br/>
			#end
		#end
    </div>
</div>
<div style="clear: both;margin-bottom:12px;"></div>

<div>
  <div style="border-top:2px solid black">
  </div>
<div>
 <b id="roomlist"> #if($voucher.has("roomTypeName")) $voucher.getString("roomTypeName")#end </b><b class="paylist2"> </b>
</div>
</div>

<div> <br/>
<div class="mainbox">
<table >
<tr class="summary">
<td class="adjustment" >
<ul class="bookingleft">
<li>
<div>
<img src="https://4ctnedevblob.blob.core.windows.net/assets/ROOM.png" class="image"/>
</div>
</li>
<li class="room">$voucher.getInt("noOfRooms") room</li>
</ul>
</td>

<div class="master"></div>

<th><table class="race">
<tr class="night">
<td class="check">Check in</td>
</tr>
<tr>
<td><b class="rep">$voucher.getString("checkInDate")</b></td>
</tr>
<tr>
<td><b class="day">$voucher.getString("checkInDay")</b> <b class="time">$voucher.getString("checkInTime")</b></td>
</tr>
</table></th>

<div class="master1"></div>

<th> <table class="race1">

<td>

<ul class="bookingleft">

<li>

<div>

<img class="image" style="margin-left:20px" src="https://4ctnedevblob.blob.core.windows.net/assets/HALF_MOON.png" />

</div>

</li>

<li class="room1">$voucher.getInt("stay") Nights</li>

</ul>

</td>

</table></th>


<div class="master2"></div>

<th class="nap"> <table class="race2">


<tr>

<td class="check">Check out</td>

</tr>

<tr>

<td><b class="rep">$voucher.getString("checkOutDate")</b></td>

</tr>

<tr>

<td><b class="day">$voucher.getString("checkOutDay") </b><b class="time">$voucher.getString("checkOutTime")</b></td>

</tr>

</table></th>

<div class="master3"></div>

<th> <table class="guest">

<td>

<ul class="bookingleft">

<li>

<div>

<img class="image1" style="margin-left:20px" src="https://4ctnedevblob.blob.core.windows.net/assets/USER.png" />

</div>

</li>


<li class="room2">$voucher.getInt("guestCount") guest</li>

</ul>

</td>

</table></th>

</tr>

</table>

</div>
<div style="clear:both"></div>
<br/>

<hr/>

<div>
<div class="policy">
<b class="pay" >Payment details</b>
<br/>
<table>
<tr>
<th class="detail1">Tariff / room</th>
<th class="rightlist1">
#if($voucher.has("pricePerRoomNight"))
$voucher.getString("pricePerRoomNight")
#end
</th>
</tr>
<tr>
<td class="detail11">(per room)</td>
</tr>
</table>
<br/>
<table>
<tr>
<th class="detail1">Total amount</th>
<th class="rightlist11">
#if($voucher.has("totalAmount"))
$voucher.getString("totalAmount")
#end
</th>
</tr>
<tr>
<td class="detail11">(inclusive of applicable tax)</td>
<td class="wordings">
#if($voucher.has("chargesPaidBy"))
$voucher.getString("chargesPaidBy")
#end
</td>
</tr>
</table>
</div>
<div class="vl4" >
<table>
<ul class="bookingleft">
<li class="bookinglist" style="line-height:1.4">Hotel confirmation Number</li>
<li class="reference" style="line-height:1.4">
#if($voucher.has("confirmationNumber"))
$voucher.getString("confirmationNumber")
#end
</li>
</ul>
</table>
<br/>
<br/>
<table>
<ul class="bookingleft">
<li class="bookinglist" style="line-height:1.4">Booking referrenc</li>
<li class="reference" style="line-height:1.4">$voucher.getString("pnr")</li>
</ul>
</table>
</div>
</div>
<div style="clear:both"></div>
<hr class="firsthr"/>

<div>
<div class="policy">
#if($voucher.has("complimentaryServices"))
<b class="paylist1">Inclusions</b>
<table>
<ul class="description">
#foreach( $complimentary in $voucher.getJSONArray("complimentaryServices") )
<div class="mess" style="display:flex">
<img class="imagetick" src="https://4ctnedevblob.blob.core.windows.net/assets/TICK.png" />
 <li class="dslist">$complimentary</li>
  </div>
#end 
</ul>
</table>
#end
#if($voucher.has("cancellationPolicy"))
<b class="paylist1">Cancellation Policy</b>
<table>
<ul class="description1">
<li class="dslist fontSizeProperty" style="line-height:2">$voucher.getString("cancellationPolicy")</li>
</ul>
</table>
#end
#if($voucher.has("specialPrefs"))
<b class="paylist1">Special Request</b>
<table>
<ul class="description1">
<li class="dslist fontSizeProperty" style="line-height:2">$voucher.getString("specialPrefs")</li>
</ul>
</table>
#end
</div>

<div class="vl5">

<table>
<ul class="descriptionleft">
<li style="font-weight:bold;text-align:left;font-size:20px">
Hospitality Contact Email ID: </li>

<div class="contact" style="display:flex">
<img style="width:4%;height:4%;vertical-align:middle;margin-top:-5px" src="https://4ctnedevblob.blob.core.windows.net/assets/MAIL.png" />

<li class="mess1" style="padding-left:5px;vertical-align:middle">hospitality.googleproject@wipro.com</li>
</div>

</ul>
</table>

<br/>

<table>
<ul class="descriptionleft">
<li style="font-weight:bold;text-align:left;font-size:20px;line-height:1.6">Escalation Matrix:</li>

<li style="font-weight:bold;text-align:left;font-size:20px;line-height:1.6">Level 1</li>

<li  style="text-align:left"><span style="font-weight:bold;font-siz:17px">Bharath S</span></li>
<li class="contact" style="line-height:1.6">
<img style="width:4%;height:4%;vertical-align:middle" src="https://4ctnedevblob.blob.core.windows.net/assets/MAIL.png" />

<span class="mess1" style="line-height:1.4;padding-left:5px;vertical-align:middle">bharath.s68@wipro.com</span></li>
</ul>
</table>

<table>
<ul class="descriptionleft">
<li style="font-weight:bold;text-align:left;font-size:20px;line-height:1.6">Level 2</li>
<li style="text-align:left"><span style="font-weight:bold;font-siz:17px">Sumana Ganaraj</span></li>
<li class="contact" style="line-height:1.6">
<img style="width:4%;height:4%;vertical-align:middle" src="https://4ctnedevblob.blob.core.windows.net/assets/MAIL.png" />
<span class="mess1" style="line-height:1.4;padding-left:5px;vertical-align:middle">Sumana.ganaraj@wipro.com</span></li>
</ul>
</table>
</div>


</div>

</div>

</div>
<div style="clear:both"></div>
<footer>

<div id="footer">

<br/>

<br/>

<br/>



<p id="footerrights"> &copy; 2018, Wipro Limited</p>

</div>

</footer>


</div>



</body>

</html>
